EXP:
  ADVICE_METHOD: "ClipMLP"
  WANDB_SILENT: False
  PROJ: "ColoredMNIST"
  SEED: 0
  TEXT_PROMPTS: ['a photo of a red number "{}".', 'a photo of a blue number "{}".']
  NEUTRAL_TEXT_PROMPTS: ['a photo of a white number "{}".']
  EPOCHS: 200
  CHECKPOINT_VAL: True
  GENERIC: False
  LOG_NN: True

DATA:
  DATASET: "ColoredMNISTBinary"
  LOAD_CACHED: True
  BATCH_SIZE: 256
  ROOT: './data'

METHOD:
  MODEL:
    NUM_LAYERS: 1
    DOM_WEIGHT: 1.0
    LR: 0.005
    WEIGHT_DECAY: 0.005
    CHECKPOINT: 'checkpoint/mlp_simple.pth'
    RESUME: False
  USE_DOM_GT: True